[Unit]
Description=Tron Monitor
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=30
ExecStartPre=-/usr/bin/docker pull fundrequestio/tron-node-monitor:master
ExecStart=/bin/bash /opt/docker/tron-monitor/run.sh
ExecStop=-/usr/bin/docker stop tron-monitor
[Install]
WantedBy=multi-user.target